/* Made by Masstige */
.common-text--42 {
  font-size: 2.625em;
  letter-spacing: -0.03em;
}
.common-text--40 {
  font-size: 2.5em;
  letter-spacing: -0.02em;
}
.common-text--26 {
  font-size: 1.625em;
  letter-spacing: -0.03em;
}
.common-text--34 {
  font-size: 2.125em;
  letter-spacing: -0.03em;
}
.common-text--32 {
  font-size: 2em;
  letter-spacing: -0.03em;
}
.common-text--28 {
  font-size: 1.75em;
  letter-spacing: -0.03em;
}
.common-text--24 {
  font-size: 1.5em;
  letter-spacing: -0.03em;
}
.common-text--22 {
  font-size: 1.375em;
  letter-spacing: -0.03em;
}
.common-text--20 {
  font-size: 1.25em;
  line-height: 1.6666666667;
  letter-spacing: -0.03em;
}
.common-text--18 {
  font-size: 1.125em;
  line-height: 1.6666666667;
  letter-spacing: -0.03em;
  color: #666666;
}
.common-text--16 {
  font-size: 1em;
  line-height: 1.625;
  letter-spacing: -0.03em;
}
.common-text--14 {
  font-size: 0.875em;
  letter-spacing: -0.03em;
}

/*main header*/
.main-page .logo {
  display: none;
}

.company-intro {
  background-color: rgba(13, 13, 13, 0.8);
  max-width: 700px;
  height: 194px;
  text-align: center;
  padding: 2.5rem;
}

.company-bg {
  background: url("../images/sub/company_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.company-video {
  position: relative;
  height: 100%;
}
.company-video::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.company-video iframe {
  width: 100%;
  height: 120%;
  position: absolute;
  top: -10%;
  transform: scale(1.2);
  border: 0;
}
@media all and (max-width: 1024px) {
  .company-video {
    height: 0;
    padding-bottom: 56.25%;
  }
  .company-video::before {
    display: none;
  }
  .company-video iframe {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    transform: none;
  }
}

.fp-section.video-wrapper {
  overflow: hidden;
}
@media all and (max-width: 1024px) {
  .fp-section.video-wrapper {
    height: auto !important;
  }
  .fp-section.video-wrapper .fp-tableCell {
    height: auto !important;
  }
}

.leadership-bg {
  background: url("../images/sub/leadership_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center;
}

.profile-ceo {
  width: 600px;
  height: 360px;
  position: relative;
}
@media all and (max-width: 1200px) {
  .profile-ceo {
    width: 100%;
  }
}
@media all and (max-width: 1200px) {
  .profile-ceo {
    height: auto;
  }
}

.profile-director {
  width: 600px;
  height: 360px;
  position: relative;
}
@media all and (max-width: 1200px) {
  .profile-director {
    width: 100%;
    justify-content: flex-end;
    text-align: right;
  }
}
@media all and (max-width: 1200px) {
  .profile-director {
    height: auto;
  }
}

.profile-wrapper {
  flex-direction: row;
}
@media all and (max-width: 1200px) {
  .profile-wrapper {
    flex-direction: column;
  }
}

.profile-pct {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 45%;
}
@media all and (max-width: 1200px) {
  .profile-pct {
    position: relative;
    width: 35%;
  }
}

.profile-pct2 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40%;
}
@media all and (max-width: 1200px) {
  .profile-pct2 {
    position: relative;
    width: 30%;
  }
}

.ourteam-bg {
  background: url("../images/sub/ourteam-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.member {
  border: 1px solid #000;
}

.members-wrapper {
  gap: 1.3rem;
}

.support-bg {
  background: url("../images/sub/support-ban.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 210px;
  width: 49%;
}
@media all and (max-width: 1024px) {
  .support-bg {
    width: 100%;
  }
}

.cooper-bg {
  background: url("../images/sub/cooper-ban.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 210px;
  width: 49%;
}
@media all and (max-width: 1024px) {
  .cooper-bg {
    width: 100%;
  }
}

.contact-bg {
  position: relative;
}
.contact-bg .swiper-slide {
  display: block;
  position: relative;
  overflow: hidden;
}
.contact-bg .swiper-slide::after {
  content: "";
  display: block;
  padding-bottom: 100vh;
}
.contact-bg .swiper-slide > img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 1000%;
  min-height: 1000%;
  max-width: none;
  max-height: none;
  transform: translate(-50%, -50%) scale(0.1);
}
@media all and (max-width: 768px) {
  .contact-bg {
    display: block;
    position: relative;
    overflow: hidden;
  }
  .contact-bg::after {
    content: "";
    display: block;
    padding-bottom: 100vh;
  }
  .contact-bg > img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 1000%;
    min-height: 1000%;
    max-width: none;
    max-height: none;
    transform: translate(-50%, -50%) scale(0.1);
  }
  .contact-bg .swiper-slide::after {
    padding-bottom: 25em;
  }
}

.contact-bg .swiper-container {
  height: 100%;
}

.swiper-button-next {
  background: url("../images/sub/arrow-next.png") no-repeat;
  background-size: 100%;
  width: 6rem;
  height: 6rem;
  right: 4rem;
}
@media all and (max-width: 1024px) {
  .swiper-button-next {
    width: 3rem;
    height: 3rem;
    right: 1rem;
  }
}

.swiper-button-prev {
  background: url("../images/sub/arrow-prev.png") no-repeat;
  background-size: 100%;
  width: 6rem;
  height: 6rem;
  left: 4rem;
}
@media all and (max-width: 1024px) {
  .swiper-button-prev {
    width: 3rem;
    height: 3rem;
    left: 1rem;
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.company-download {
  border-radius: 10px;
  background-color: #444444;
  width: 100%;
  height: 60px;
}

.contact-intro {
  background-color: rgba(13, 13, 13, 0.8);
  max-width: 600px;
  height: auto;
  position: absolute;
  top: 35%;
  right: 12%;
  z-index: 9;
}
@media all and (max-width: 1024px) {
  .contact-intro {
    left: 10%;
    right: 10%;
    top: 50%;
    transform: translate(0, -50%);
  }
}

.m_line {
  content: "";
  border-bottom: 1px solid gray;
  width: 40px;
  height: 1px;
  display: inline-block;
}

.section1 {
  position: relative;
}

.scrolldown {
  position: absolute;
  bottom: 1.875rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  text-align: center;
  flex-direction: column;
  animation: scrollAni 1.5s infinite;
}
@media all and (max-width: 576px) {
  .scrolldown {
    display: none;
  }
}

.scroll-img {
  width: 22px;
  height: auto;
  margin: 0 auto;
}

@keyframes scrollAni {
  0% {
    bottom: 2.5rem;
  }
  50% {
    bottom: 1.875rem;
  }
  100% {
    bottom: 2.5rem;
  }
}
/*ourteam*/
.support-ban {
  position: relative;
}
.support-ban::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s;
}
.support-ban .text-box {
  position: relative;
  z-index: 3;
}
.support-ban .text-box__hover {
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 99;
}
.support-ban:hover::before {
  opacity: 1;
}
.support-ban:hover .text-box__hover {
  opacity: 1;
  z-index: 99;
}
@media all and (max-width: 1024px) {
  .support-ban::before {
    content: "";
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
  }
  .support-ban .text-box__hover {
    opacity: 1;
  }
}

.member {
  display: flex;
  flex-direction: column;
  height: 100%;
  cursor: pointer;
  transition: box-shadow 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), transform 500ms cubic-bezier(0.33, 0.11, 0.02, 0.99);
}
.member img {
  flex: 0 0 auto;
}
.member figcaption {
  flex: 1 1 auto;
  height: 1%;
}
@media all and (min-width: 1024.02px) {
  .member:hover {
    box-shadow: 0px 5px 10px #cccccc;
    transform: scale(1) translateY(-0.5rem);
  }
}

.ourteam-wrapper .swiper-container .swiper-wrapper {
  align-items: stretch;
}
.ourteam-wrapper .swiper-container .swiper-slide {
  height: auto;
}
@media all and (max-width: 1024px) {
  .ourteam-wrapper .swiper-container .swiper-slide.swiper-slide-active .member {
    box-shadow: 0px 5px 10px #cccccc;
    transform: scale(1) translateY(-0.5rem);
  }
}
/*# sourceMappingURL=sub.css.map */